<div class="center hero-unit">
  <h1 style="color: crimson;">CV Tuesday</h1>

  <h2>
		Créez un profil, et déposez un CV consultable par tous.
  </h2>

  <%= link_to "S'inscrire !", signup_path, class: "btn btn-large btn-inverse" %>
</div>
