<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
			<h1>
				<%= age(@user) %> ans
				<br>
				<%= @user.weight %> kg
				<br>
				<% if @user.sporty? %>
					Sportif(ve)
				<% else %>
					Non-sportif(ve)
				<% end %>
			</h1>
    </section>
  </aside>
</div>

