<footer class="footer">
  <small>
		Ce site a été développé grâce au
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    de Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "A Propos",   about_path %></li>
      <li><%= link_to "Contact", 		contact_path %></li>
    </ul>
  </nav>
</footer>

